.principal{
    grid-row-start: 2;
    grid-column-start: 2;
}
.principal {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem; /* Espacio entre elementos */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Bordes redondeados */


}
.box_description{
    
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.item_producto{
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */

}

/* Estilos para las imágenes de los productos */
/* Estilos para las imágenes de los productos */
.img img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem; /* Ajustar el ancho al 100% del contenedor */
    height: 15rem; /* Ajustar la altura al 100% del contenedor */
    object-fit: contain; /* Escalar la imagen manteniendo la relación de aspecto y cubriendo el contenedor */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos para el pie de página */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* Color de texto claro */
}
.price{
    width: 50%;
    border: 1px solid black     ;
    border-radius: 5px;
}

.btn_coomprar{
    width: 50%;
    border: 1px solid black     ;
    border-radius: 5px;
    cursor: pointer;

}

.btn_coomprar:hover{
    background-color: blanchedalmond;
}

