.principal {
    grid-row-start: 2;
    grid-column-start: 2;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

.box_description {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.item_producto {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.img img {
    width: 15rem;
    height: 15rem;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.price {
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px;
}

.btn_coomprar {
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: #e4981e;
    color: #fff;
}

.btn_coomprar:hover {
    background-color: #ffcb7d;
}

@media screen and (max-width: 1024px) {
    .principal {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }

    .box_description {
        font-size: 1rem;
    }

    .img img {
        width: 12rem;
        height: 12rem;
    }
}

@media screen and (max-width: 768px) {
    .principal {
        grid-template-columns: 1fr;
        padding: 5px;
    }

    .item_producto {
        margin-bottom: 10px;
    }

    .box_description {
        font-size: 0.8rem;
    }

    .img img {
        width: 10rem;
        height: 10rem;
    }

    .btn_coomprar {
        width: 70%;
    }

    .price {
        width: 70%;
    }
}
