.categorias {
    grid-column-start: 1;
    grid-row-start: 2;
    background-color: #f3f3f3;
    padding: 20px;
}

.item_categoria {
    height: auto;
    display: block;
    margin-bottom: 1rem;
}

.cuadro {
    display: none;
}

.txt {
    font-size: 1.2rem;
    color: #111;
}

@media screen and (max-width: 768px) {
    .categorias {
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        white-space: nowrap;
        height: 1px;
        width: 1px;
    }

    .item_categoria {
        display: inline-block;
        margin-right: 1rem;
        font-size: 1rem;
    }
    
}
